.header {
	position: relative;
	display: flex;
	background-color: $color-header-background;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	color: $color-text;
	padding: 10px 20px;
	
	// Menu
	&__inner a {
		color: $color-text;
		text-decoration: none;
	}
	
	// - Items
	.nav {
		padding: 0;
		
		&__internet-shop {
			color: $color-text;
			font-size: 20px;			
		}
		
		&__item>span {
			position: relative;
			cursor: pointer;
		}
		
		&__item {
			display: inline-block;
			color: $color-text;
			margin-right: 20px;
			list-style-type: none;
			
			&_active {
				color: $color-text-selected;
				
				& ul {
					display: block;
				}
			}			
		}
	}
	
	&__products.products {
		display: none;
		position: absolute;
		background-color: $color-header-background;
		border-top: 4px solid $color-text;
		padding: 10px;
		left: 145px;
		top: 54px;
		list-style-type: none;
		
		a {
			text-decoration: none;
		}
	}
	
	&__select-topic {
		position: absolute;
		color: $color-text-hint;
		font-style: italic;
		top: 75px;
		left: 20px;
	}
	
	// Header elements
	&__elements {
		
	}
}