body {
	margin: 0;
	padding: 0;
}

// Rules for hovered elements
@media (hover: hover) {
	nav:hover {
		color: red !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

input[type='text'] {
	border: none;
	padding: 10px;
}

input[type='submit'] {
	color: $color-text-hint;
	background-color: $color-text;	
	border: 0;
	border-radius: 4px;
	padding: 4px 20px;
	cursor: pointer;
	transition: color 1s;
	
	&:hover {
		color: $color-text;
		background-color: $color-header-background;
	}
}

button.type1 {
	background-color: inherit;
	color: $color-button;
	border: none;
	cursor: pointer;
}