$color-text: white;
$color-text-background: black;
$color-text-selected: green;
$color-text-hint: grey;

$color-header-background: lightgrey;
$header-height: 50px;

$filter-width: 200px;

$color-footer-background: grey;
$footer-height: 50px;