@import '_filter.scss';
@import '_products.scss';
@import '_card.scss';
@import '_about.scss';
@import '_notifies.scss';

.container {
	height: calc(100vh - #{$header-height + $footer-height + 60px});
	padding: 20px;
	
	%containerTextCenter {
		text-align: center;
	}

	h1 {
		@extend %containerTextCenter;
		color: $color-text-selected;
		padding: 10px 0;
		text-transform: uppercase;
	}
	
	&__message {
		position: relative;
		display: inline-block;
		left: -100%;
		transition: all 1s;
		
		&_come-in {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}